nameOverride: ""

image:
  repository: kloeckneri/db-operator
  pullPolicy: Always

# imagePullSecrets:
#   - name: myRegistrySecret

reconcileInterval: "60"

rbac:
  create: true

serviceAccount:
  create: true

resources: {}

nodeSelector: {}

annotations: {}

affinity: {}

tolerations: []

config:
  instance:
    google:
      proxy:
        nodeSelector: {}
        image: gcr.io/cloudsql-docker/gce-proxy:1.16
    generic: {}
    percona:
      proxy:
        image: severalnines/proxysql:2.0
  backup:
    activeDeadlineSeconds: 600 # 10m
    nodeSelector: {}
    postgres:
      image: "kloeckneri/pgdump-gcs:latest"
    mysql:
      image: "kloeckneri/mydump-gcs:latest"
  monitoring:
    promPushGateway: "localhost:64224"
    nodeSelector: {}
    postgres:
      image: wrouesnel/postgres_exporter:latest
      queries:
        pg_stat_statements:
          query: "SELECT userid, pgss.dbid, pgdb.datname, queryid, query, calls, total_time, mean_time, rows FROM pg_stat_statements pgss LEFT JOIN (select oid as dbid, datname from pg_database) as pgdb on pgdb.dbid = pgss.dbid WHERE not queryid isnull ORDER BY mean_time desc limit 20"
          metrics:
            - userid:
                usage: "LABEL"
                description: "User ID"
            - dbid:
                usage: "LABEL"
                description: "database ID"
            - datname:
                usage: "LABEL"
                description: "database NAME"
            - queryid:
                usage: "LABEL"
                description: "Query unique Hash Code"
            - query:
                usage: "LABEL"
                description: "Query class"
            - calls:
                usage: "COUNTER"
                description: "Number of times executed"
            - total_time:
                usage: "COUNTER"
                description: "Total time spent in the statement, in milliseconds"
            - mean_time:
                usage: "GAUGE"
                description: "Mean time spent in the statement, in milliseconds"
            - rows:
                usage: "COUNTER"
                description: "Total number of rows retrieved or affected by the statement"

secrets:
  gsql: {}