apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "db-operator.name" . }}-config
  labels:
    app: {{ template "db-operator.name" . }}
    chart: {{ template "db-operator.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  config.yaml: |
    instance:
      google:
        clientSecretName: "cloudsql-readonly-serviceaccount"
        proxy:
          nodeSelector:
  {{ toYaml .Values.config.instance.google.proxy.nodeSelector | indent 10 }}
          image: {{ .Values.config.instance.google.proxy.image }}
      generic: {}
      percona:
        proxy:
          image: {{ .Values.config.instance.percona.proxy.image }}
    backup:
      activeDeadlineSeconds: {{ .Values.config.backup.activeDeadlineSeconds }}
      nodeSelector:
{{ toYaml .Values.config.backup.nodeSelector | indent 8 }}
      postgres:
        image: {{ .Values.config.backup.postgres.image }}
      mysql:
        image: {{ .Values.config.backup.mysql.image }}
    monitoring:
    {{- if .Values.config.monitoring.promPushGateWay }}
      promPushGateWay: {{ .Values.config.monitoring.promPushGateWay }}
    {{ end }}
      nodeSelector:
{{ toYaml .Values.config.monitoring.nodeSelector | indent 8 }}
      postgres:
        image: {{ .Values.config.monitoring.postgres.image }}
        queries: |-
{{ toYaml .Values.config.monitoring.postgres.queries | indent 10 }}
      mysql: {}