---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: databases.kci.rocks
  labels:
    app: {{ template "db-operator.name" . }}
    chart: {{ template "db-operator.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  group: kci.rocks
  scope: Namespaced
  version: v1alpha1
  names:
    kind: Database
    listKind: DatabaseList
    plural: databases
    singular: database
    shortNames:
    - db
  subresources:
    status: {}
  additionalPrinterColumns:
  - JSONPath: .status.phase
    description: current db status
    name: Phase
    type: string
  - JSONPath: .status.status
    description: current db status
    name: Status
    type: boolean
  - JSONPath: .spec.deletionProtected
    description: If database is protected to not get deleted.
    name: Protected
    type: boolean
  - JSONPath: .status.instanceRef.metadata.name
    description: instance reference
    name: DbInstance
    type: string
  - JSONPath: .metadata.creationTimestamp
    description: |-
      CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC.
    name: Age
    type: date
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: dbinstances.kci.rocks
  labels:
    app: {{ template "db-operator.name" . }}
    chart: {{ template "db-operator.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  group: kci.rocks
  scope: Cluster
  version: v1alpha1
  names:
    kind: DbInstance
    listKind: DbInstanceList
    plural: dbinstances
    singular: dbinstance
    shortNames:
    - dbin
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: DbInstance is the Schema for the dbinstances API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: DbInstanceSpec defines the desired state of DbInstance
          type: object
          required:
          - engine
          - adminSecretRef
          oneOf:
          - required:
            - percona
          - required:
            - google
          - required:
            - generic
          properties:
            engine:
              type: string
            adminSecretRef:
              type: object
              properties:
                Namespace:
                  type: string
                Name:
                  type: string
            backup:
              type: object
            generic:
              type: object
              required:
              - host
              - port
              properties:
                host:
                  type: string
                port:
                  type: integer
            google:
              type: object
              required:
              - instance
              properties:
                instance:
                  type: string
                configmapRef:
                  type: object
                  properties:
                    Namespace:
                      type: string
                    Name:
                      type: string
            percona:
              type: object
              required:
              - servers
              - monitorUserSecretRef
              properties:
                servers:
                  type: array
                  items:
                    required:
                    - host
                    - port
                    - maxConn
                    properties:
                      host:
                        type: string
                      port:
                        type: integer
                      maxConn:
                        type: integer
                        minimum: 1
                      readonly:
                        type: boolean
                monitorUserSecretRef:
                  type: object
        status:
          description: DbInstanceStatus defines the observed state of DbInstance
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
  additionalPrinterColumns:
  - JSONPath: .status.phase
    description: current phase
    name: Phase
    type: string
  - JSONPath: .status.status
    description: health status
    name: Status
    type: boolean